.playerContainer {
  min-height: 20vh;
  display: grid;
  grid-template-columns: repeat(1, 0.5fr);
  justify-content: center;
  grid-gap: 15px;
  margin-bottom: 1rem;
  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(1, 0.9fr);
  }
  .timeControl {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 1.5rem;
    padding: 0.5rem 0;
    .track {
      position: relative;
      border-radius: 1rem;
      overflow: hidden;
      background-color: lightblue;
      input {
        -webkit-appearance: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        width: 100%;
        height: 1rem;
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 16px;
          width: 16px;
        }
        &::-moz-range-thumb {
          -webkit-appearance: none;
          background-color: transparent;
          border: none;
          outline: none;
        }
      }
      .animateTrack {
        background: rgb(204, 204, 204);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(0);
        pointer-events: none;
      }
    }
  }
}

.playControl {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: center;
  grid-gap: 8rem;
  @media screen and (max-width: 768px) {
    grid-gap: 4rem;
  }
  svg {
    cursor: pointer;
  }
  .vulumeMixer {
    position: relative;
    .mixer {
      position: absolute;
      top: -7px;
      left: -5px;
      transform: rotate(-90deg);
      transform-origin: 0% 0%;
      padding: 10px 5px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, .17);
      input {
        -webkit-appearance: none;
        background-color: transparent;
        height: 0;
        cursor: pointer;
        outline: none;
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          background-color: #adaddd;
          border-radius: 50%;
          height: 17px;
          width: 17px;
        }
        &::-moz-range-thumb {
          -webkit-appearance: none;
          background-color: #adaddd;
          border: none;
          outline: none;
        }
      }
    }
  }
}
