.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 50px rgba(128, 128, 128, .5);
    overflow-y: scroll;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
    opacity: 0;
    &.toggle {
        transform: translateX(0);
        opacity: 1;
    }
    .libraryTitle {
        padding: 1.5rem 1rem;
    }
    .librarySongs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
}