.songContainer {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  .cover {
    text-align: center;
    img {
      width: 30%;
      border-radius: 50%;
      transition: all .4s ease-in-out;
      overflow: hidden;
      &.rotateImg {
        animation: rotate 20s linear forwards infinite;
      }
      @media screen and (max-width: 1024px) {
        width: 40%;
      }
      @media screen and (max-width: 576px) {
        width: 80%;
      }
    }
  }
  .name {
    padding: 1rem 0;
  }
  .artist {

  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}