* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  color: rgba(70, 70, 70, 1);
  transition: all .2s ease-in-out;
}

h3, h4, h5 {
  font-weight: 400;
}

.App {
  height: 100vh;
  transition: all .5s ease-in-out;
}

.library-active {
  margin-left: 35%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #adaddd;
  border-radius: 2px;
}